.contact-list {
    background-color: whitesmoke;
    margin-top: 25px;
    padding: 35px;
}

.list-group-item {
    color: cadetblue;
}

.field-title {
    padding-left: 15px;
    padding-right: 15px;
}
