.contact-form {
    background-color: whitesmoke;
    margin-top: 25px;
    padding: 35px;
}

.form-buttons {
    margin-top: 15px;
}

.form-group {
    input[type="text"] {
        font-style: italic;
        color: cadetblue;
    }

    label {
        color: darkcyan;
    }
}
