<div class="row">
    <div class="col-md-2">
        <div class="button-back">
            <button class="btn btn-info" [routerLink]="['/contacts']">Back</button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="contact-form">
            <form [formGroup]="contactForm" (ngSubmit)="submitForm(contactForm.value)">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group"
                            [ngClass]="{'has-error':!contactForm.controls['firstName'].valid && contactForm.controls['firstName'].touched}">
                            <label>First Name</label>
                            <input class="form-control"
                                type="text"
                                placeholder="your first name"
                                [formControl]="contactForm.controls['firstName']">
                            <div class="alert alert-danger"
                                *ngIf="contactForm.controls['firstName'].hasError('required') && contactForm.controls['firstName'].touched">
                                First name is required
                            </div>
                        </div>
                        <div class="form-group"
                            [ngClass]="{'has-error':!contactForm.controls['lastName'].valid && contactForm.controls['lastName'].touched}">
                            <label>Last Name</label>
                            <input class="form-control"
                                type="text"
                                placeholder="your last name"
                                [formControl]="contactForm.controls['lastName']">
                            <div class="alert alert-danger"
                                *ngIf="contactForm.controls['lastName'].hasError('required') && contactForm.controls['lastName'].touched">
                                Last name is required
                            </div>
                            <div class="alert alert-danger"
                                *ngIf="contactForm.controls['lastName'].hasError('minlength') && contactForm.controls['lastName'].touched">
                                Your last name must be at least 5 characters long.
                            </div>
                            <div class="alert alert-danger"
                                *ngIf="contactForm.controls['lastName'].hasError('maxlength') && contactForm.controls['lastName'].touched">
                                Your last name cannot exceed 30 characters.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                                <label>Email</label>
                                <input class="form-control"
                                    type="text"
                                    placeholder="your-email@here.com"
                                    [formControl]="contactForm.controls['email']">
                                <div class="alert alert-danger"
                                    *ngIf="contactForm.controls['email'].hasError('required') && contactForm.controls['email'].touched">
                                    Email is required.
                                </div>
                        </div>
                        <div class="form-group">
                            <label for="power">Country</label>
                            <select class="form-control"
                                [formControl]="contactForm.controls['country']">
                                <option>Select a country</option>
                                <option *ngFor="let country of countryList">{{country}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-buttons">
                        <button *ngIf="!isEdit" type="submit" class="btn btn-primary" [disabled]="!contactForm.valid">Save</button>
                        <button *ngIf="isEdit" type="submit" class="btn btn-primary" [disabled]="!contactForm.valid">Edit</button>
                        <button *ngIf="isEdit" class="btn btn-danger" (click)="delete()">Delete</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
